.formulario label{
    color: whitesmoke;
    font-size: 20px;
    width: 63px;
    padding-right: 9px;
}
.titulo{
    font-size: 50px;
    margin-bottom: 20px;
}

.container_inputs{
    display: flex;
}

.inputFormulario{
    width: 100%;
}