.formulario_titulo {
  font-size: 50px;
}

.formulario_formulario_container_inputs {
  display: flex;
  justify-content: space-between;
}

.formulario_container_inputs + .formulario_container_inputs,
.formulario_container_inputs + button {
  margin-top: 16px;
}

.formulario_label {
  width: 60px;
  display: inline-block;
}

.formulario_input {
  border: 2px solid transparent;
  border-radius: 4px;
  max-width: 500px;
  padding: 8px;
  width: 100%;
}

.formulario_input:focus {
  border: 2px solid black;
}
